<%= form_for(:image, url: images_path, multipart: true) do |f| %>
  <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
    <%= f.hidden_field attribute, :id => attribute %>
  <% end %>
  <input class='picture-field' type="file" name="files[]">
  <%= f.submit "Upload" %>
  <div class='image-display'></div>
<% end %>
